@import './global';

.light {
    background: $bg-color-light;
    overflow: hidden;

    li,
    label,
    p,
    a,
    h4,
    h5 {
        color: $text-color-accent-light;
    }

    .logo {
        fill: $bg-color-light;
    }

    .svg-fill {
        stroke: $text-color-dark;
    }

    button {
        background: $accent-blue;
        color: $text-color-dark;
        border: none;
        border-radius: 10px;
    }

    .cancel {
        border: 2px $accent-blue solid;
        background: none;
        color: $accent-blue;
    }

    .card {
        background: $card-color-light;
    }

    .bkg {
        background: $bg-color-light;
        fill: $bg-color-light;
    }

    .bkg-bottom-border {
        border-bottom: 1px solid $bg-color-light;
    }

    .bkg-transparent {
        background: $bg-color-light-transparent;
    }

    .main-color {
        color: $accent-blue;
        stroke: $accent-blue;
        fill: $accent-blue;
    }

    .inactive-color {
        stroke: $text-color-accent-light;
        fill: $text-color-accent-light;
    }

    .active {
        color: $text-color-light;
    }

    .underline {
        background: $accent-blue;
    }
}