@import '../../global';

$adwave-text-color: #2F2E47;

.projects {
    width: 90vw;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    position: relative;

    h2 {
        z-index: 1;
    }
}

.project,
.project-reverse {
    width: 90vw;
    margin: 100px auto 0 auto;
    display: flex;

    p {
        flex-shrink: 2;
    }
}

.adwave-project,
.andfm-project,
.project-card {
    position: relative;
    height: 70vh;
}

.project-card {
    width: 100%;
    flex-grow: 2;
    border-radius: 10px;
}

.o-hidden {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.insights {
    width: calc(50% + 1vw);
    max-height: 60vh;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotateZ(-10deg) translate(-20%, 25%);
}

.public {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% + 1vw);
    max-height: 70vh;
    transform: translate(40%, -30%);
}

.title-row {
    position: absolute;
    display: flex;
    height: 15%;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 1;
}

.adwave-project {
    svg {
        fill: #FFAF00;
    }

    h2 {
        color: $adwave-text-color  !important;
    }

    .adwave-svg {
        height: 100%;
    }

    .project-image {
        bottom: -10%;
        right: 10%;
        position: absolute;
        height: 100%;
        margin-right: 5vw;

        .phone {
            position: absolute;
            height: 100%;
            transform: translate(-80%, 0);
        }

        .est {
            position: absolute;
            height: 32%;
            transform: translate(-95%, 140%);
        }

        .app {
            position: absolute;
            height: 18%;
            transform: translate(-140%, 110%);
        }
    }
}

.adwave-card {
    background: linear-gradient(#FEDD26, #FEC626);
    height: 100%;
}

.andfm-project {
    .andfm-svg {
        height: 100%;
    }

    h2 {
        font-style: italic;
        font-weight: 600;
    }

    .project-card {
        background: #3453f3;
    }

    .bg {
        width: 120%;
        position: absolute;
        top: 0;
    }

    .project-img {
        bottom: 0;
        right: 40%;
        position: absolute;
        height: 90%;
        z-index: 1;

        .light {
            background: transparent;
            position: absolute;
            height: 90%;
            transform: translate(-60%, 5%) rotate(-10deg);
        }

        .dark {
            background: transparent;
            position: absolute;
            height: 100%;
            transform: translate(15%, 0) rotate(15deg);
        }
    }
}

@media screen and (max-width: 1200px) {

    .adwave-project,
    .andfm-project,
    .project-card {
        width: 100%;
        position: relative;
        height: 40vh;
    }

    .insights,
    .public {
        width: calc(40% + 1vw);
    }


    .title-row {
        h2 {
            color: $adwave-text-color  !important;
            font-size: calc(2rem + 1vw);
        }
    }

    .adwave-project {
        svg {
            fill: #FFAF00;
        }
    }

}

@media screen and (max-width: 650px) {
    .project {
        flex-direction: column;
    }

    .project-reverse {
        flex-direction: column-reverse;
    }

    .adwave-project,
    .project-card,
    .andfm-project {
        height: 50vh;
    }


    .public,
    .insights {
        width: calc(30% + 1vw);
    }
}