@import '../../global';


.projects {
    width: 90vw;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    position: relative;

    h2 {
        z-index: 1;
    }
}

.project,
.project-reverse {
    width: 90vw;
    margin: 0 auto;
    display: flex;

    p {
        flex-shrink: 2;
    }
}

.adwave-project,
.andfm-project,
.project-card {
    position: relative;
    height: 70vh;
}

.project-card {
    width: 100%;
    flex-grow: 2;
    border-radius: 10px;
}

.o-hidden {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.insights {
    width: calc(50% + 1vw);
    max-height: 60vh;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotateZ(-10deg) translate(-20%, 25%);
}

.public {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% + 1vw);
    max-height: 70vh;
    transform: translate(40%, -30%);
}

.adwave-project {
    svg {
        fill: #FFAF00;
    }
}

.adwave-card {
    background: linear-gradient(#FEDD26, #FEC626);
    height: 100%;
}

.andfm-project {
    h2 {
        position: absolute;
    }

    .project-card {
        background: #3453f3;
    }

    .bg {
        width: 120%;
        position: absolute;
        top: 0;
    }
}

@media screen and (max-width: 1200px) {

    .adwave-project,
    .andfm-project,
    .project-card {
        width: 100%;
        position: relative;
        height: 40vh;
    }

    .insights,
    .public {
        width: calc(40% + 1vw);
    }
}

@media screen and (max-width: 650px) {
    .project {
        flex-direction: column;
    }

    .project-reverse {
        flex-direction: column-reverse;
    }

    .adwave-project,
    .project-card,
    .andfm-project {
        height: 30vh;
    }


    .public,
    .insights {
        width: calc(30% + 1vw);
    }
}