@import '../../global';

svg {
    fill: #A9CAF7;
}

.project {
    height: 90vh;
    width: 80vw;
    margin: 0 auto;
}

.adwave-project,
.project-card {
    position: relative;
    height: 70vh;
}

.project-card {
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
}

.insights {
    height: 150%;
    max-width: 50vw;
    position: absolute;
    bottom: -30%;
    transform: rotateZ(-10deg);
}

.public {
    position: absolute;
    top: -10%;
    right: -10%;
    height: 70%;
    max-width: 40vw;
}

.adwave-card {
    background: linear-gradient(#2275E8, #428BEB);
}

@media screen and (max-width: 1080px) {

    .project-card,
    .project {
        height: 30vh;
        width: 95vw;
    }
}

@media screen and (max-width: 800px) {

    .project-card,
    .project {
        height: 30vh;
        width: 100vw;
    }

    .insights {
        bottom: -50%;
        width: 50%;
    }
}