@import '../../global';

.main {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        margin: 2rem auto;
    }

    h4 {
        font-size: $text  !important;
    }
}

.title-2 {
    margin-left: 10rem !important;
}

.introduction,
.graphic {
    height: 90%;
    margin: 2rem auto;
}

.introduction {
    width: 40%;
}

.graphic {
    width: 60%;
}

.svg-container {
    width: 100%;
    height: 100%;
    position: relative;

    .shape-1 {
        position: absolute;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
    }

    // .shape-1.dark-shape {
    //     background-image: url('../../assets/shape-1-dark.svg');
    // }

    // .shape-1.light-shape {
    //     background-image: url('../../assets/shape-1-light.svg');
    // }

    .shape-2 {
        top: 10%;
        left: 5%;
        position: absolute;
        background-repeat: no-repeat;
        height: 80%;
        width: 80%;
        background-position: center;
        background-size: contain;
    }

    // .shape-2.dark-shape {
    //     background-image: url('../../assets/shape-2-dark.svg');
    // }

    // .shape-2.light-shape {
    //     background-image: url('../../assets/shape-2-light.svg');
    // }


    .shape-3 {
        top: 17%;
        left: 7%;
        position: absolute;
        background-repeat: no-repeat;
        height: 70%;
        width: 70%;
        background-position: center;
        background-size: contain;
    }

    // .shape-3.dark-shape {
    //     background-image: url('../../assets/shape-3-dark.svg');
    // }

    // .shape-3.light-shape {
    //     background-image: url('../../assets/shape-3-light.svg');
    // }

    .shape-4 {
        top: 25%;
        left: 10%;
        position: absolute;
        background-repeat: no-repeat;
        height: 50%;
        width: 50%;
        background-position: center;
        background-size: contain;
    }

    // .shape-4.dark-shape {
    //     background-image: url('../../assets/shape-4-dark.svg');
    // }

    // .shape-4.light-shape {
    //     background-image: url('../../assets/shape-4-light.svg');
    // }


    svg {
        top: 35%;
        left: 20%;
        width: 25%;
        height: 25%;
        position: absolute;
        mix-blend-mode: unset;
    }
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    border-radius: 1vh;
    border: none;
    z-index: 10;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .main {
        flex-direction: column-reverse;
        align-items: center;

        h1 {
            font-size: $header4;
        }
    }

    .graphic,
    .introduction {
        margin: 5rem 0;
        width: 100%;
    }

    .introduction {
        text-align: center;
    }

    .title-2 {
        margin-left: 0 !important;
    }
}