@import '../../global';

.main {
    height: 100vh;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    margin: 2rem auto;
}

h4 {
    font-size: $text  !important;
}

.title-2 {
    margin-left: 10rem;
}

.introduction,
.profile {
    margin: 2rem auto;
}

.profile-card {
    margin: 0 auto;
    position: relative;
    background: $accent-yellow;
    height: 45vh;
    width: 45vh;
    max-width: 40vw;
    max-height: 40vw;
    transform: rotateZ(15deg);
    border-radius: 25%;
    overflow: hidden;
}

.profile-image-overlay {
    z-index: 1;
    bottom: -10;
    position: absolute;
    height: 50vh;
    width: 50vh;
    max-width: 45vw;
    max-height: 45vw;
}

.profile-image {
    position: absolute;
    bottom: -10;
    height: 50vh;
    max-width: 45vw;
    max-height: 45vw;
}

.contact-button {
    margin: 5rem auto;
    width: 15vw;
    height: 7rem;
    min-width: 15rem;
    padding: 2rem;
    border: none;
    border-radius: 50px;
    z-index: 2;
}

@media screen and (max-width: 1200px) {
    .main {
        justify-content: start;
        flex-direction: column-reverse;

        h1 {
            font-size: $header4;
        }
    }

    .introduction,
    .profile {
        height: 10vh;
    }

    .profile {
        margin: 15rem 0;
    }

    .profile-card {
        height: calc(35rem + 1vh);
        width: calc(35rem + 1vw);
    }

    .profile-image {
        height: calc(40rem + 1vh);
    }

    .profile-image-overlay {
        height: calc(40rem + 1vh);
        width: calc(40rem + 1vw);
    }
}

@media screen and (max-width: 700px) {

    .profile-card {
        height: calc(25rem + 1vh);
        width: calc(25rem + 1vw);
    }

    .profile-image {
        height: calc(30rem + 1vh);
    }

    .profile-image-overlay {
        height: calc(30rem + 1vh);
        width: calc(30rem + 1vw);
    }
}