@import '../../global';

section {
    height: 90vh;
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    font-size: 5rem !important;
    margin: 2rem auto;
}

.introduction,
.animations {
    margin: 2rem auto;
    flex-grow: 1;
}

.profile-card {
    margin: 0 auto;
    position: relative;
    background: $accent-yellow;
    height: 45rem;
    width: 45rem;
    transform: rotateZ(15deg);
    border-radius: 25%;
    overflow: hidden;
}

.profile-image-overlay {
    z-index: 1;
    bottom: -10;
    position: absolute;
    height: 50rem;
    width: 50rem;
}

.profile-image {
    position: absolute;
    bottom: -10;
    height: 50rem;
    transform: rotateZ(-15deg);
}

@media screen and (max-width: 800px) {
    section {
        justify-content: center;
    }

    .introduction,
    .animations {
        margin: 0 auto;
    }

    .profile-card {
        height: 30rem;
        width: 30rem;
    }

    .profile-image {
        height: 35rem;
    }

    .profile-image-overlay {
        height: 45rem;
        width: 45rem;
    }
}