@import '../../global';

.skills {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    margin: 10vh auto;
    width: 90vw;

    .skills-bkg {
        z-index: -1;
        height: 100%;
        width: 130vw;
        position: absolute;
        margin: 0 -20vw;
    }

    .expirience-list {
        min-width: 50%;

        li {
            margin: 50px auto;
            display: flex;
        }

        div {
            margin-left: 50px;
        }

        h3 {
            font-size: 75%;
            margin-bottom: 10px;
        }

        p,
        .main-color {
            font-size: 50%;
        }
    }

    .skill-list {
        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            margin: auto 15px;
        }
    }
}