@import '../../global';

.skills {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 10vh auto;
    padding-top: 20vh;
    height: 100vh;

    .skills-bkg {
        z-index: -1;
        height: 100%;
        width: 130vw;
        position: absolute;
        margin: 0 -20vw;
    }
}