@import '../../global';

nav,
ul {
    z-index: 2;
    position: sticky;
    top: 0;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    height: 10vh;
    align-items: center;
}

ul {
    justify-content: center;

    li {
        margin: 0 calc(1rem + 0.5vw);
    }

    a {
        font-size: calc(1rem + 0.5vw);
    }
}

.icon {
    width: 100px;
}

.switch {
    width: 10vw;
    height: 4vw;
    max-height: 3vh;
    max-width: 6vh;
    border-radius: 100px;
    //padding: 0.5vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.switch.on {
    background-color: #FFD143;
    justify-content: flex-end;
}

.switch.off {
    background-color: #39AFC9;
    justify-content: flex-start;
}

.switch div {
    margin: 0 0.5vh;
    width: 2.5vw;
    height: 2.5vw;
    max-height: 2vh;
    max-width: 2vh;
    background-color: #ffffff;
    border-radius: 200px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
}