@import '../../global';

.sidebar {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 2vw;
}

.github,
.linkedin {
    width: calc(2rem + 1vw);
    margin: 1rem 1rem;
    min-width: 3rem;
}