@import '../../global';

.sidebar {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 2vw;
}

.github,
.linkedin {
    width: calc(2rem + 1vw);
    margin: 0 0 1rem 0;
    min-width: 4vh;
    min-height: 4vh;
}