@import './global';

.dark {
    background: $bg-color-dark;
    overflow: hidden;

    h1,
    h2,
    h3 {
        color: $text-color-dark;
    }

    li,
    label,
    p,
    a,
    h4,
    h5,
    input,
    textarea {
        color: $text-color-accent-dark;
    }

    .logo {
        fill: $bg-color-dark;
    }

    .svg-fill {
        stroke: $text-color-dark;
    }

    button {
        background: $accent-red;
        color: $text-color-dark;
        border: none;
        border-radius: 10px;
    }

    .cancel {
        border: 2px $accent-red solid;
        background: none;
        color: $accent-red;
    }

    .card {
        background: $card-color-dark;
    }

    .bkg {
        background: $bg-color-dark;
    }

    .main-color {
        color: $accent-red;
        stroke: $accent-red;
    }
}