@import './global';

.dark {
    background: $bg-color-dark;
    overflow: hidden;

    h1,
    h2,
    h3 {
        color: $text-color-dark;
    }

    li,
    label,
    p,
    a,
    h4,
    h5 {
        color: $text-color-accent-dark;
    }

    .logo {
        fill: $bg-color-dark;
    }

    .svg-fill {
        stroke: $text-color-light;
    }

    button {
        background: $accent-light-blue;
        color: $text-color-light;
    }

    .card {
        background: $card-color-dark;
    }

    .bkg {
        background: $bg-color-dark;
    }

    .main-color {
        color: #FE8058;
    }
}