/*
Variables
*/
$header1: calc(2.5rem + 1vw);
$header2: calc(4rem + 1vw);
$header3: calc(2.5rem + 1vw);
$header4: calc(2rem + 1vw);
$text: calc(1rem + 1vw);
$accent-blue: #676DDB;
$accent-red: #FE8058;
$accent-yellow: #FFD143;
$accent-light-blue: #39AFC9;
$bg-color-dark: #29283F;
$card-color-dark: #3E3E5F;
$text-color-dark: #FFF;
$text-color-accent-dark: #BBB;
$bg-color-light: #F8FBFF;
$card-color-light: #FFF;
$text-color-light: #000;
$text-color-accent-light: #4F4F4F;

/*
Global styles
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 auto;
    background: $bg-color-light;
}

p {
    font-size: $text;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: $header1;
    font-weight: normal;
}

li,
button,
label,
p,
a {
    font-size: $text;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: $header2;
    font-weight: normal;
}

h3 {
    font-size: $header3;
    font-weight: normal;
}

h4,
h5 {
    font-size: $header4;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $text-color-accent-light;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}