@import '../../global';

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 10px;
    bottom: 20px;
}

.github,
.linkedin {
    width: 4rem;
    margin: 1rem 0;
}

.contact-button {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
    min-width: 20rem;
    padding: 2rem;
    border: none;
    border-radius: 50px;
}