@import '../../global';

aside {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 10px;
    bottom: 20px;
}

.github,
.linkedin {
    width: 4rem;
    margin: 1rem 0;
}

.contact-button {
    display: block;
    position: sticky;
    bottom: 15%;
    margin: auto;
    width: 20rem;
    padding: 2rem;
    border: none;
    border-radius: 50px;
}