@import '../../global';

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 10px;
    bottom: 20px;
}

.github,
.linkedin {
    width: calc(2rem + 1vw);
    margin: 1rem 0;
    min-width: 3rem;
}